<h1>新增文章</h1>

<form action="/blog" method="post">
  <input type="text" name="authenticity_token">
  <input type="submit" value="新增">
</form>
標題
內容
  <%# <label for="">標題<input type="text"></label>
  <label for="">內容<textarea></textarea></label> %>
